body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

ul
{
  margin: 0px;
  padding: 20px;
  background-color: black;
}
ul li 
{
  display: inline;
 padding: 15px;
}
a
{
  color: aliceblue;
  text-decoration: none;
}
p
{
  display: inline;
  padding: 10px;
}
